/* TODO: hover overlay for cover image, title, author */
/* TODO: fix sizing issues (mobile to desktop) */

/* VARIABLES */

:root {
  /* Primary */
  --primary-color-softBlue: hsl(215, 51%, 70%);
  --primary-color-cyan: hsl(178, 100%, 50%);

  /* Neutral */
  --bg-primary: hsl(217, 54%, 11%);
  --bg-card: hsl(216, 50%, 16%);
  --line-color: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);

  /* Typography */
  /* Body Copy */
  --paragraph-font-size: 18px;

  /* Font */
  --default-font: "Outfit", sans-serif;
  --weight-300: 300;
  --weight-400: 400;
  --weight-600: 600;
}

/* GLOBALS */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: var(--default-font);
  background-color: var(--bg-primary);
  color: var(--primary-color-softBlue);
  font-size: var(--paragraph-font-size);
  font-weight: var(--weight-300);
  margin: 5rem 2rem;
}

/* CLASSES */

hr.solid {
  border: 0;
  border-top: 3px solid var(--line-color);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--bg-card);
  padding: 2px 16px;
  border-radius: 20px;
  margin: 0 auto;
  max-width: 25rem;
}

.container {
  padding: 1rem;
  max-width: 90%;
}

.title {
  color: var(--white);
  font-weight: var(--weight-600);
  font-size: 1.75rem;
}

.info {
  display: flex;
  justify-content: space-between;
}

.value {
  color: var(--primary-color-cyan);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer img {
  max-width: 40px;
  border: 1px solid var(--white);
  border-radius: 25px;
}

.attribution {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

/* IDs */

#cover {
  display: block;
  margin: 0 auto;
  padding-top: 1rem;
  max-width: 100%;
  border-radius: 20px;
}

#author {
  color: var(--white);
}

/* MEDIA QUERIES */

@media (max-width: 450px) {
  .attribution {
    flex-direction: column;
  }

  .footer {
    flex-direction: column-reverse;
  }
}
